<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000493989621-ihpemcn6g1dbg6r99ffo2dbbfhe2139t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000493989621-ihpemcn6g1dbg6r99ffo2dbbfhe2139t</string>
	<key>API_KEY</key>
	<string>AIzaSyDADm7FljmR4MXS-csym1X3kzFjDGfXr7w</string>
	<key>GCM_SENDER_ID</key>
	<string>1000493989621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nklmantey.perdiem-assessment</string>
	<key>PROJECT_ID</key>
	<string>perdiem-d3303</string>
	<key>STORAGE_BUCKET</key>
	<string>perdiem-d3303.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000493989621:ios:41f0de922522d25ca74fbc</string>
</dict>
</plist>